body {
    background-color: aquamarine;
    color: rgb(6, 107, 107);
    font-family:"Brush Script MT";

}
h2 {
    color:rgb(6, 179, 179);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
p {
    color: rgb(14, 153, 158);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
